@page
@using RealTournament.Areas.Identity.Data
@model RealTournament.Pages.Tournaments.DetailsModel
@inject UserManager<RealTournamentUser> UserManager

@{
    ViewData["Title"] = Html.DisplayFor(model => model.Tournament.Name);
}

<h1>@Html.DisplayFor(model => model.Tournament.Name)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.Discipline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.Discipline)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organizer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organizer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.Time)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.ApplicationDeadline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.ApplicationDeadline)
        </dd>
        <dt class="col-sm-2">
            Participants
        </dt>
        <dd class="col-sm-10">
            @Model.Participants / @Html.DisplayFor(model => model.Tournament.MaxParticipants)
        </dd>
    </dl>
</div>
<div>
    @if (Model.CanApply)
    {
        <a asp-page="./Apply" asp-route-id="@Model.Tournament.Id" class="btn btn-primary">Apply</a>
    }
    @if (UserManager.GetUserId(User) == Model.Tournament.Organizer && Model.Tournament.Time > DateTime.Now)
    {
        <a asp-page="./Edit" asp-route-id="@Model.Tournament.Id" class="btn btn-primary">Edit</a>
        <a asp-page="./Delete" asp-route-id="@Model.Tournament.Id" class="btn btn-primary">Delete</a>
    }
</div>
@if (Model.Tournament.Time <= DateTime.Now)
{
    <hr />
    <div>
        <h2>Scoreboard</h2>
        @await Component.InvokeAsync("Scoreboard", new { Model.Tournament })
    </div>
}
