@page
@model RealTournament.Pages.Tournaments.EditModel

@{
    ViewData["Title"] = "Edit tournament";
}

<h1>Edit tournament</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Tournament.Id" />
            <div class="form-group">
                <label asp-for="Tournament.Name" class="control-label"></label>
                <input asp-for="Tournament.Name" class="form-control" />
                <span asp-validation-for="Tournament.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tournament.Discipline" class="control-label"></label>
                <input asp-for="Tournament.Discipline" class="form-control" />
                <span asp-validation-for="Tournament.Discipline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tournament.Time" class="control-label"></label>
                <input asp-for="Tournament.Time" class="form-control" />
                <span asp-validation-for="Tournament.Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tournament.ApplicationDeadline" class="control-label"></label>
                <input asp-for="Tournament.ApplicationDeadline" class="form-control" />
                <span asp-validation-for="Tournament.ApplicationDeadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tournament.MaxParticipants" class="control-label"></label>
                <input asp-for="Tournament.MaxParticipants" class="form-control" />
                <span asp-validation-for="Tournament.MaxParticipants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SponsorLogoUrls" class="control-label"></label>
                @for (var i = 0; i < Model.SponsorLogoUrls.Count; i++)
                {
                    <div class="form-row">
                        <img src="@Model.SponsorLogoUrls[i]" class="col-4" alt="@Model.SponsorLogoUrls[i]" />
                        <input type="hidden" asp-for="SponsorLogoUrls[i]" value="@Model.SponsorLogoUrls[i]" />
                        <button type="submit" asp-page-handler="RemoveLogo" name="remove" value="@i"
                                class="btn btn-outline-danger mb-2" formnovalidate>
                            Remove
                        </button>
                    </div>
                }
                <div class="form-row">
                    <div class="col-auto">
                        <input asp-for="NewLogo" class="form-control" />
                    </div>
                    <div class="col-auto">
                        <input type="submit" asp-page-handler="AddLogo" value="Add"
                               class="btn btn-outline-primary mb-2" formnovalidate />
                    </div>
                </div>
            </div>
            @if (ViewBag.errMsg != null)
            {
                <div class="form-group">
                    <span class="text-danger">@ViewBag.errMsg</span>
                </div>
            }
            <div class="form-group">
                <input type="submit" asp-page-handler="" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
