@page
@model IndexModel

@{
    ViewData["Title"] = "RealTournament";
}

<h1>Upcoming tournaments</h1>

<form method="get">
    <div class="form-group form-inline col-md-6">
        <input asp-for="SearchFilter" class="form-control" />
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tournament[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tournament[0].Discipline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tournament[0].Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tournament[0].ApplicationDeadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tournament[0].MaxParticipants)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tournament)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discipline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationDeadline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxParticipants)
                </td>
                <td>
                    <a asp-page="./Tournaments/Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = Model.PageIndex == 1 ? "disabled" : "";
    var nextDisabled = Model.PageIndex >= Model.PagesTotal ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-pageIndex="@(Model.PageIndex - 1)"
   asp-route-searchFilter="@Model.SearchFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-pageIndex="@(Model.PageIndex + 1)"
   asp-route-searchFilter="@Model.SearchFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>
